home/.config

!home/.config/fish/**
!home/.config/nvim/**
!home/.config/omf/**
!home/.config/tmuxinator/**

home/.floo
home/.floorc
home/.floorc.json

home/.gitconfig

home/config

tags*


home/.ssh/*

